<hr>
<div class="row">
  <div class="col-xs-12">
    <a
      class="list-group-item clearfix"
      *ngFor="let book of books|async" [title]="book.key">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ book.payload.val().name }}</h4>
        <p class="list-group-item-text">{{ book.payload.val().description }}</p>
        <p class="list-group-item-text">{{ book.payload.val().id }}</p>
        <p class="list-group-item-text">{{ book.payload.val().author }}</p>
      </div>
      <span class="pull-right">
        <button (click)="readMore(book.payload.val().id)" title="Read more...">Read more...</button>
        <button (click)="onBookSelected(book)" title="Quotes">Quotes</button>
      </span>
    </a>
  </div>
  <app-book-appender></app-book-appender>
</div>

